<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Mystery word</title>
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <ul>
          <li><h4> Mystery word  {{#mode}}: {{mode}} mode{{/mode}} </h4></li>
          <!--Message displayed to reflect the number of guesses made : 8 Guesses allowed-->
          {{^chances_over}}
          <li><h4>you have {{#num_chances_given}}{{.}}{{/num_chances_given}} guesses left</h4></li>
          {{/chances_over}}

          <!-- Message saying the user is done with chances of guessing letters-->
          {{#chances_over}}
          <li><h4>You are out of guesses</h4></li>
          {{/chances_over}}

        </ul>
      </div>
      <!--Display the word guessed : keep adding the letters until 8 chances -->
      <div class="results_1">{{#guessedWord}}{{.}}{{/guessedWord}}</div>

      <!-- Make a guess block -->
      {{^resultsMsg}}
      <div class="submit">
      <form method='post' action="/index">
        <input type="text" name = "txt_Guess" id= "txt_Guess">
        <button type="submit">Make a Guess</button>
        <input type="hidden" name="action" value="makeaguess">
      </form>
      </div>
      {{/resultsMsg}}

      <!-- Try again block -->
     {{#resultsMsg}}
      <div class="submit">
      <form method='post' action="/index">
        <label>{{.}}</label>
        <button type="submit" name="btn_Guess">Try again</button>
        <input type="hidden" name="action" value="tryagain">
      </form>
      </div>
     {{/resultsMsg}}
     <!-- Message to show the letters guesssed-->
      {{#guessedLetters}}<div class="results">Letters guessed: {{.}}</div>{{/guessedLetters}}
      <!-- Repeat Message : If the same letter is entered more than once -->
      {{#repeatMsg}}<div>{{.}}</div>{{/repeatMsg}}
      <!--Error messages -->
      {{#errors}}<div>{{.}}</div>{{/errors}}
    </div>
  </body>
</html>
